.box-search {
  width: 100%;
}

.search-color {
  width: 100%;
  height: 4rem;
  padding: 5px;
  font-size: 2.2rem;
  @include borderItems;
  @include boxShadow;
  background: rgba(255, 255, 255, 0.56);
  outline: none;
}
