.box-color {
  width: 280px;
  height: 280px;
  margin: 20px;

  background-color: $color-two;
  color: white;
  font-size: 2rem;
  @include centerItems();
  @include borderItems();
  @include box_shadow();
}
